/* Esto es un comentario válido en CSS */
@tailwind base;

/* Estilos personalizados pueden ir acá más adelante */
@tailwind components;

@tailwind utilities;
 
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
